circle {
  fill: #ec6767;
  stroke: #93db4c;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  transition: stroke-dasharray .8s ease;
}

svg {
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #ec6767;
  border-radius: 50%;
   display: block;
}

.figure-key-list {
   margin: 0;
   padding: 0;
   list-style: none;
}
.figure-key-list li {
  margin: 0 0 8px;
  padding: 0;
}
.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.shape-right {
  background-color: #93db4c;
}
.shape-wrong {
  background-color: #ec6767;
}
