@import "_fonts.css";
@import "_variables.css";
@import "_animations.css";

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Neucha', cursive;
  font-size: 16px;
  background: var(--mint);
  background: -webkit-linear-gradient(to right, var(--mint), var(--vanilla));
  background: linear-gradient(to right, var(--mint), var(--vanilla));
}


h1 {
  font-size: 72px;
  font-weight: bold;
}

header {
  padding-top: 50px;
}


/* Blocks */
.block {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 960px) {
  .block:nth-child(1) {
      display: none;
  }
  .block:nth-child(3) {
      display: none;
  }
}

.playboard {
  height: 500px;
}

.playboard > div {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  border: 1px solid #43c6ac;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.replay > span {
  background-color: var(--navy);
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.replay > span:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
  box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
}

#question_counter {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 10px;
  background-color: #fbda4b;
  border-radius: 0 5px 5px 0;
}
.card-deck {
  margin-bottom: 20px;
}
.card {
  padding: 5px;
}
.card_hover:hover {
  background-color: #d9d9d9;
}

/* Start button */
.button {
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  height: 50px;
  min-width: 100px;
  background: var(--navy);
  border: none;
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px #348aa7;
  border-bottom: 2px solid #30809b;
  animation: pick_me 4000ms linear both;
  animation-iteration-count: infinite;
}
.button:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.1s ease-in;
}
.button:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.btn-small {
  user-select: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: var(--mint);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn-small:hover {
  background-color: var(--vanilla);
  cursor: pointer;
}

/* Options */
#options {
  background-color: rgb(160, 67, 238);
  color: white;
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#options:hover {
  background-color: rgb(174, 98, 238);
  cursor: pointer;
}

/* Music */
#music {
  background-color: rgb(160, 67, 238);
  color: white;
  position: fixed;
  bottom: 0px;
  left: 20px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#music:hover {
  background-color: rgb(174, 98, 238);
}

@media only screen and (max-width: 992px){
  .full-screen-dn{
    display: none;
  }
  #options, #music {
    display: none;
  }
}

.correct_answer {
  background-color: rgb(121, 201, 65);
}
.wrong_answer {
  background-color: rgb(232, 80, 80);
}

.common_btn {
  position: absolute;
  bottom: 15px;
  right: 10%;
  background-color: var(--navy);
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.common_btn:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
  box-shadow: 0px 0px 20px 0px rgba(52,138,167,0.75);
}

figure {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.scores, .rules {
  transition: transform 3s;
}
.scores:hover, .rules:hover {
  transform: rotate3d(1,1,1,360deg);
}
